@import url("main.css");

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 3rem;
    color: white;
    margin-bottom: 5rem;
}

.about-img {
    border-radius: 50%;
}

.about-img img {
    position: relative;
    width: var(--size-8xl);
    height: var(--size-8xl);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.heading {
    text-align: center;
    font-size: var(--size-5xl);
}

.about-content h2 {
    text-align: left;
    line-height: 1.5;
}

@media (min-width: 767px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5rem
    }
    .about-img img {
        width: var(--size-10xl);
        height: var(--size-10xl);
        margin-right: 5rem;
    }
    
}

@media (min-width: 1023px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5rem
    }
    .about-img img {
        width: 15rem;
        height: 15rem;
        margin-right: 5rem;
    }
    .about-content h2 {
        font-size: var(--size-6xl);
    }
}


